[Desktop Entry]
Version=0.9
Name=iCloud Contacts
GenericName=iCloud Contacts
Comment=iCloud Contacts
Type=Application
Icon=${SNAP}/meta/gui/contacts.png
Exec=icloud-for-linux.contacts
StartupWMClass=icloud-for-linux.contacts
