[Desktop Entry]
Version=0.2
Name=iCloud Drive
GenericName=iCloud Drive
Comment=iCloud Drive
Type=Application
Icon=${SNAP}/snap/gui/drive.png
Exec=icloud-for-linux.drive
