[Desktop Entry]
Version=0.11
Name=iCloud Drive
GenericName=iCloud Drive
Comment=iCloud Drive
Type=Application
Categories=Office
Icon=${SNAP}/meta/gui/drive.png
Exec=icloud-for-linux.drive
StartupWMClass=icloud-for-linux.iclouddrive
