[Desktop Entry]
Version=0.7
Name=iCloud Find My Friend
GenericName=iCloud Find My Friend
Comment=iCloud Find My Friend
Type=Application
Icon=${SNAP}/meta/gui/find-my-friends.png
Exec=icloud-for-linux.find-my-friends
StartupWMClass=icloud-for-linux.fmf
