[Desktop Entry]
Version=0.5
Name=iCloud Find My iPhone
GenericName=iCloud Find My iPhone
Comment=iCloud Find My iPhone
Type=Application
Icon=${SNAP}/snap/gui/find-my-iphone.png
Exec=icloud-for-linux.find-my-iphone
