[Desktop Entry]
Version=0.11
Name=iCloud Find Devices
GenericName=iCloud Find Devices
Comment=iCloud Find Devices
Type=Application
Categories=Office
Icon=${SNAP}/meta/gui/find-devices.png
Exec=icloud-for-linux.find-devices
StartupWMClass=icloud-for-linux.find-devices
