[Desktop Entry]
Version=0.8
Name=iCloud Keynote
GenericName=iCloud Keynote
Comment=iCloud Keynote
Type=Application
Icon=${SNAP}/meta/gui/keynote.png
Exec=icloud-for-linux.keynote
StartupWMClass=icloud-for-linux.keynote
