[Desktop Entry]
Version=0.6
Name=iCloud Keynote
GenericName=iCloud Keynote
Comment=iCloud Keynote
Type=Application
Icon=${SNAP}/snap/gui/keynote.png
Exec=icloud-for-linux.keynote
