[Desktop Entry]
Version=0.11
Name=iCloud Mail
GenericName=iCloud Mail
Comment=iCloud Mail
Type=Application
Icon=${SNAP}/meta/gui/mail.png
Exec=icloud-for-linux.mail
StartupWMClass=icloud-for-linux.mail
