[Desktop Entry]
Version=0.1
Name=iCloud Mail
GenericName=iCloud Mail
Comment=iCloud Mail
Type=Application
Icon=${SNAP}/snap/gui/mail.png
Exec=icloud-for-linux.mail
