[Desktop Entry]
Version=0.10
Name=iCloud Notes
GenericName=iCloud Notes
Comment=iCloud Notes
Type=Application
Icon=${SNAP}/meta/gui/notes.png
Exec=icloud-for-linux.notes
StartupWMClass=icloud-for-linux.notes
