[Desktop Entry]
Version=0.2
Name=iCloud Notes
GenericName=iCloud Notes
Comment=iCloud Notes
Type=Application
Icon=${SNAP}/snap/gui/notes.png
Exec=icloud-for-linux.notes
