[Desktop Entry]
Version=0.8
Name=iCloud Numbers
GenericName=iCloud Numbers
Comment=iCloud Numbers
Type=Application
Icon=${SNAP}/meta/gui/numbers.png
Exec=icloud-for-linux.numbers
StartupWMClass=icloud-for-linux.numbers
