[Desktop Entry]
Version=0.1
Name=OneDrive
GenericName=OneDrive
Comment=OneDrive
Type=Application
Icon=${SNAP}/onedrive.png
Exec=unofficial-office.onedrive
