[Desktop Entry]
Version=0.1
Name=OneDrive
GenericName=OneDrive
Comment=OneDrive
Type=Application
Icon=${SNAP}/snap/gui/onedrive.png
Exec=unofficial-webapp-office.onedrive
Terminal=false
Keyworks=OneDrive,files,cloud,photos
Categories=Office,FileTransfer,Qt
