[Desktop Entry]
Version=0.1
Name=OneNote
GenericName=OneNote
Comment=OneNote
Type=Application
Icon=${SNAP}/onenote.png
Exec=unofficial-office.onenote
