[Desktop Entry]
Version=0.1
Name=Outlook
GenericName=Outlook
Comment=Outlook
Type=Application
Icon=${SNAP}/outlook.png
Exec=unofficial-office.outlook
