[Desktop Entry]
Version=0.11
Name=iCloud Pages
GenericName=iCloud Pages
Comment=iCloud Pages
Type=Application
Icon=${SNAP}/meta/gui/pages.png
Exec=icloud-for-linux.pages
StartupWMClass=icloud-for-linux.pages
