[Desktop Entry]
Version=0.2
Name=iCloud Pages
GenericName=iCloud Pages
Comment=iCloud Pages
Type=Application
Icon=${SNAP}/snap/gui/pages.png
Exec=icloud-for-linux.pages
