[Desktop Entry]
Version=0.1
Name=PowerPoint
GenericName=PowerPoint
Comment=PowerPoint
Type=Application
Icon=${SNAP}/powerpoint.png
Exec=unofficial-office.powerpoint
