[Desktop Entry]
Version=0.4
Name=iCloud Reminders
GenericName=iCloud Reminders
Comment=iCloud Reminders
Type=Application
Icon=${SNAP}/snap/gui/reminders.png
Exec=icloud-for-linux.reminders
