[Desktop Entry]
Version=0.1
Name=Word
GenericName=Word
Comment=Word
Type=Application
Icon=${SNAP}/snap/gui/word.png
Exec=unofficial-webapp-office.word
Terminal=false
Keywords=Word,document,doc
Categories=Office;WordProcessor;Qt
